.gameboard {
  height: calc(100vh - 2rem);
}

.zone {
  height: calc(16.6vh - (2rem/6))
}

.zone .name-display {
  /* position: relative; */
  /* left: 0; */
  width: 100%;
  z-index: 0;
  color: #ccc
}

.red-border {
  border: 1px solid red !important;
}

.debug-menu {
  position: absolute;
  width: 200px;
  right: 0;
  border: 3px solid black;
  background-color: grey;
  color: #CCC;
  z-index: 10;
}