.gameboard {
  height: calc(100vh - 2rem);
}

.zone {
  border: 2px dashed rgb(222, 226, 230);
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  min-height: 62px;
}

.zone .name-display {
  text-transform: capitalize;
  position: absolute;
  left: 0;
  /* width: 100%; */
  z-index: 0;
  color: #ccc;
  height: 42px;
  /* text-align: center; */
  margin-left: 40px;
}

.token {
  display: inline-block;
  height: 8rem;
  width: 8rem;

  text-align: center;
  /* border-radius: 50%;
  margin-top: 42px; */
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.token .token-body {
  position: relative;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  height: 24px;
  margin-top: -12px;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
       Introduced in IE 10.
       See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
     */
  -ms-user-select: none;
  user-select: none;
}

/* For Debuggin */
.red-border {
  border: 1px solid red !important;
}

.debug-menu {
  position: absolute;
  width: 200px;
  right: 0;
  border: 3px solid black;
  background-color: grey;
  color: #CCC;
  z-index: 10;
}