.gameboard {
  height: calc(100vh - 2rem);
}

.card-row {
  height: calc(16.6vh - (2rem/6))
}

.red-border {
  border: 1px solid red !important;
}

.debug-menu {
  position: absolute;
  width: 200px;
  right: 0;
  border: 3px solid black;
  background-color: grey;
  color: #CCC;
  z-index: 10;
}